
<br>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="avatar medium">
 
<form (ngSubmit)="login()"  [formGroup]="signinForm">
  <mat-form-field class="full-width">
   <input matInput placeholder="Email" name="email" id="email"  formControlName = "email">
   <mat-error *ngIf="nameFormControl.hasError('required')">
     {{"Email is required"|translate}}
   </mat-error>
 </mat-form-field>
 <br>
  <mat-form-field class="full-width">
   <input type="password" matInput placeholder="Password" name='password' id="password" type="password" formControlName = "password">
   <mat-error *ngIf="passwordFormControl.hasError('required')">
     {{"Password is required"|translate}}
   </mat-error>
 </mat-form-field> <br>
 <div fxLayout="row" fxLayoutAlign="center center">

 <span><button mat-raised-button color="primary" type="submit" [disabled]="!signinForm.valid">{{"LOGIN"|translate}}</button>   <a routerLink="/forgot">  {{"forgot"|translate}}</a>  </span> </div><br>
 

</form>
</div>

