              
<div fxLayout="column" fxLayoutAlign="center center" class="businessCard">


        <div fxLayout="row" fxLayoutAlign="center center" style="text-align: center">
                <br>
                <h5 >{{"Questions about any of the listings?"|translate}} </h5>

        </div>
        

        
        <div fxLayout="row" fxLayoutAlign="center center" style="text-align: center">
                <br>
                <h5 >{{"We are here to help!"|translate}}</h5>

        </div>
        <br>
    

        <div style="text-align: center; color: rgb(32, 32, 32); font-size: 2.3em;"> {{"JK-kr"|translate}}</div>
        <div style="text-align: center; color: rgb(32, 32, 32); font-size: 1.2em;"> Jina Kim</div>
        <div style="text-align: center; color: rgb(105, 104, 104); font-size: 0.8em;"> Co-Founder and Manager, Hello My House</div>
        <div style="text-align: center; color: rgb(105, 104, 104); font-size: 0.8em;"> Broker, Right at Home Realty Inc.</div>
        <div style="text-align: center; color: rgb(105, 104, 104); font-size: 0.8em;"> Mortgage Agent, JP Mortgage Services</div>

        <div style="text-align: center; color: rgb(105, 104, 104)"><a href="mailto:jina@hellomyhouse.com">Jina@hellomyhouse.com</a>
        </div>
        
        <div style="font-size: 1.3em;text-align: center; color: rgb(105, 104, 104)"> <a href="tel:+01-416-270-2726">
                        416 270 2726 </a></div>

        <div fxLayout="row" fxLayoutAlign="center center">
                <a href="http://www.hellomyhouse.com" target="_blank">
                        <img src="assets/HelloMyHouse-sm.png" width="100px">
                </a>
        </div>

        <br>
        <div fxLayout="row" fxLayoutAlign="center center">

                <ul style="font-size:0.8em">
                        <li>{{"Pre-construction Condos"|translate}} ✔ </li>
                        <li>{{"Condos and Houses - Purchase and Sale"|translate}} ✔ </li>
                        <li>{{"Mortgage Solutions"|translate}} ✔ </li>
                        <li>{{"Condo Assignments"|translate}} ✔ </li>
                        <!-- <li>{{"Staging and Pre-sale Touch-ups"|translate}} ✔ </li> -->
                        <li>{{"Investment Condos - Purchase and Rent"|translate}} ✔ </li>
                        <li>{{"Custom Homes - Project Management"|translate}} ✔ </li>

                </ul>
        </div>
        <br><br>
        <div fxLayout="row" fxLayoutAlign="center center">

                <img src="assets/rightathomelogo.png" style="padding-bottom: 7px" height="30">&nbsp;
                <img src="assets/logo-realtor-bw.jpg" height="30">&nbsp;
                <img src="assets/logo-mls-colour.jpg" height="30">&nbsp;
                <img src="assets/Jpmtg_logo.png" height="30">

        </div>
</div>

