<br>
<div fxLayout="row" fxLayoutAlign="end end" style="padding: 10px;">
<mat-radio-group name="opList" [(ngModel)]="days" (change)="segmentOrDayChange()">
    <mat-radio-button *ngFor="let day of dayList" [value]="day.dateCount" name="opList">{{day.name}}</mat-radio-button>
  </mat-radio-group>
</div>



<mat-grid-list *ngIf="salesPersonId" [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)" >
  <mat-grid-tile id="checking">
    <app-checking [days]='days' [segment]='segment'></app-checking>
  </mat-grid-tile>
  <mat-grid-tile id="tracking">
    <app-tracking [days]='days' [segment]='segment'></app-tracking>
  </mat-grid-tile>
  <mat-grid-tile id="sold">
    <app-sold [days]='days' [segment]='segment'></app-sold>
  </mat-grid-tile>
  <mat-grid-tile id="engaging">
    <app-engaging [days]='days' [segment]='segment'></app-engaging>
  </mat-grid-tile>
</mat-grid-list>


<div fxLayout="row" fxLayoutAlign="end end" >
  <mat-form-field appearance="fill">
    <mat-label>Segments</mat-label>
    <mat-select [(value)]="segment" (selectionChange)="segmentOrDayChange()">
      <mat-option *ngFor="let segment of segmentsList" [value]="segment.userSegementID">
        {{segment.segmentDescription}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-client-manager></app-client-manager>