<div style="padding-top: 5%" (swipe)="onSwipe($event)">



  <div fxLayout="row" fxLayoutAlign="space-around center" class="avatar medium"></div>


  <div *ngIf="user">

    <div *ngIf="userName" fxLayout="row" fxLayoutAlign="space-between center">
      <span style="padding-left: 5px">Hello {{userName}}!</span>  
  
    </div>
    <app-client-manager></app-client-manager>
    <div fxLayout="row" fxLayoutAlign="center center">
      <br><br><br><br>
      <button mat-raised-button (click)='logout()'>
        <h3>{{"LOGOUT"|translate}}</h3>
      </button>
    </div>
  </div>
  <div *ngIf="!user">
    <div>

      <div *ngIf="lang!='ko_KR'" >
        <br>
        <div style="padding: 15px;font-family: 'Montserrat', sans-serif; text-align: center;">
          <div style="font-size: 1.2em;text-align: center;" ><b>Your home search, made simple.</b></div><br> <br>
          Set the search criteria for your perfect home, and we'll constantly deliver matching listings as soon as they hit the market. 
          <br><br>
          Track your favourite listings and get the price changes and sold notifications. Get to know the market, before you buy or sell your home.
          <br><br>
          Your time is important and the market is always on the move. Get ahead, find your perfect home!
        </div>

       

      </div>
      <div *ngIf="lang==='ko_KR'" fxLayout="row" fxLayoutAlign="center center">
        <img src="assets/howitworkskr.png" style="width: 80%;">
      </div>

    </div>
    <br>


    <br>



  </div>
  <div *ngIf="!user">
    <div fxLayout="row" fxLayoutAlign="center center">

   
        <button  mat-raised-button color="primary" (click)="toggleLogin()" style="width: 225px"> {{"Log in"|translate}} </button>
    
    </div>
    <br>
    <app-accout-simple *ngIf="loginOn"></app-accout-simple>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span>
        {{"Or"|translate}}
      </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">

      <a target="_self" (click)="signinWithGoogle()">
        <img src="assets/btn_google_signin_light_normal_web@2x.png" height="55">
      </a>
    </div>

    <div *ngIf="isAppleDevice" id="appleid-signin" fxLayout="row" fxLayoutAlign="center center">

      <a target="_self" (click)="signinWithApple()">
        <img src="assets/signinapple.png" width="225">
      </a>
    </div>    <div fxLayout="row" fxLayoutAlign="center center">
      <span>
        --
      </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h4>
        <a style="text-align: center; color: #5b7a59" routerLink="/signup"><button mat-raised-button style="width: 225px">{{"Register with email"|translate}}</button></a>
      </h4>
    </div>
    <br>

    <br>

    <br>
  </div>
  <div style="text-align: center; color: grey">
    <h5>{{"For all listings"|translate}}</h5>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/logo-mls-colour.jpg" style="height:30px; padding-right: 10px">
      <img src="assets/logo-realtor-bw.jpg" style="height:26px;">
    </div>

    <div>
      <!-- <a target="_self"  href= "/auth/facebook/callback"><img src="assets/facebooklogin.png" height="35" /></a> -->


      <br>
      <br>

    </div>




  </div>

</div>