<div (swipe)="swipe($event)">
<div fxLayout="row" fxLayoutAlign="space-around center" style="background-color: #bf1e2d; color:white" >
    {{client.dataKey.name}}
</div>
<br>

  

  <div fxLayout="row" fxLayoutAlign="space-between center"  style="padding-bottom: 12px;">
    Engagement Level:  <span  [ngStyle]="{'background-color': profile.engagement.color}" style="color:white;line-height: 20px;"> {{profile.engagement.level}}</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center"  style="padding-bottom: 12px;">
    Last Interaction:  <span  style="color: white;background-color: hotpink;line-height: 20px;"> {{profile.lastInteraction|date}}</span>
  </div> 
  <div fxLayout="row" fxLayoutAlign="space-between center"  style="padding-bottom: 12px;">
    Number of Clicked: <span>{{client.dataKey.checked}}</span>
   </div>
  <div fxLayout="row" fxLayoutAlign="space-between center"  style="padding-bottom: 12px;">
    Number of Tracked: <span>{{profile.activity.trackedTotal}}</span>
   </div>


   <div fxLayout="row" fxLayoutAlign="space-between center center"  style="padding-bottom: 12px;">
     Number of Recos: <span>{{profile.activity.recos}}</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: 12px;" >
        Since: <span>{{client.dataKey.created|date}}</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center center"  style="padding-bottom: 12px;">
      Profile
     </div>
     <div fxLayout="row" fxLayoutAlign="space-between center center" >
      <span *ngIf="profile.preferences.detached">Detached</span>
      <span *ngIf="profile.preferences.semi">Semi</span>
      <span *ngIf="profile.preferences.condo">Condo</span>
      <span *ngIf="profile.preferences.townhouse">Townhouse</span>

     </div>
     <div fxLayout="row" fxLayoutAlign="space-between center center" >
      <span>From:</span>{{profile.preferences.priceFrom|currency:'':'symbol':'1.0-0'}}
     </div>
     <div fxLayout="row" fxLayoutAlign="space-between center center" >
      <span>To:</span>{{profile.preferences.priceTo|currency:'':'symbol':'1.0-0'}}
     </div>
    

      <div fxLayout="row" fxLayoutAlign="space-between center center" >
       <span></span>{{profile.preferences.beds}} : {{profile.preferences.baths}}
      </div>
   <br>

  <div fxLayout="row" fxLayoutAlign="space-between center center"  style="padding-bottom: 12px;">
   Top Neighbourhoods
  </div>
  <div  *ngIf="profile.preferences.hoods" fxLayout="row" fxLayoutAlign="space-between center center" >
   <span></span>{{profile.preferences.hoods[0]}}
  </div>
  <div  *ngIf="profile.preferences.hoods" fxLayout="row" fxLayoutAlign="space-between center center" >
    <span></span>{{profile.preferences.hoods[1]}}
   </div>
   <div  *ngIf="profile.preferences.hoods" fxLayout="row" fxLayoutAlign="space-between center center" >
    <span></span>{{profile.preferences.hoods[2]}}
   </div>
<br>


    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center"  >
        <button mat-raised-button color="primary" >    <i class="material-icons">
            email
            </i>
        </button>
    <span>  </span>
    <button mat-raised-button color="primary" >    <i class="material-icons">
        textsms
        </i>
        
        
    </button>
  </div>
  <br>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <button color="warn" (click)='cancel()' mat-raised-button>{{"Close"|translate}}</button>
    </div>
  </div>