<mat-card id='sold'>
    <div fxLayout="row" fxLayoutAlign="space-between center"  (click)="showDetails()">
        Sold:
        <span class="material-icons" style="color:gold; font-size: 1em; padding-left: 5px;"  (click)="showDetails()">
            tips_and_updates
          </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top:5px; padding-bottom: 5px;"  (click)="showDetails()">
            <span class="material-icons">
                person
                </span> 28
                 <span class="material-icons">
                    
                    trending_up
                    </span>     
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center"  style="padding-top:5px; padding-bottom: 5px;"  (click)="showDetails()">
        <span class="material-icons">
            maps_home_work
            </span> 65
             <span class="material-icons">
                
                trending_up
                </span>     
</div>

 

    <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 5px;"> <button mat-raised-button color="primary">View Clients</button>
    </div>
</mat-card>