<div (swipe)="onSwipe($event)">

  <h4>Why do I need to create account?</h4> <br>

  <br>
  <p> 
      We ask you to create an account for two reasons:
<br><br><br>

    <li>
      Real Estate Boards require that you sign in in order to see the full details of certain listings. 
    </li>
<br><br>
    <li>
      Your account enables you to customize your search, save your preferences and receive price updates, once a property has sold.
    </li>

    <br><br><br>
    You can create an account using your email, or using your favourite sign-in provider. We continuosly extend the sing-in provider selection to make the process as seamless to you as possible.
    <br><br><br>
      We never share your information with anyone. 
      
      <br><br>For more information, you can review
      <a href="https://hellomyhouse.com/privacy"> Our Privacy Policy</a>
  </p>
<br><br>
   
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="assets/logo-mls-colour.jpg" style="height:30px; padding-right: 10px">
    <img src="assets/logo-realtor-bw.jpg" style="height:26px;">
  </div>
</div>


