
<div class="ohNoe" (click)="retry()">
    <br><br>


    <div  style='text-align:center; font-size: 1.2em'>{{"Something is not quite right"|translate}} <br><br></div>
    <div  style='text-align:center; font-size: 1.2em'>{{"Try again later"|translate}} <br><br></div>

  <img src="assets/OhNoes.png" width="90%" class="centerIMG">

  <div fxLayout="row" fxLayoutAlign="center center">
      <small style="font-size: 0.8em; color: #bf1e2d">
          .... . / .. ... / -.. . .- -.. --..-- / .--- .. --
    
      </small>
  </div>
  <BR>
  <div fxLayout="row" fxLayoutAlign="center center">

  <span style="color:#bf1e2d; " >
    Tap to retry ...
  </span>
  </div>
<br>
<div>
  <br>  <br>  <br>  <br>  <br>
  
</div>

  
  <br>


</div>

