<div id="propertyList">

  <app-showing-defaults></app-showing-defaults>
  <div style="padding:5px"></div>


  <cdk-virtual-scroll-viewport class="example-viewport" itemSize="90" autosize
    (scrolledIndexChange)="scrolledTo($event)">
    <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 10px;">

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="address filter" aria-label="Municipality" matInput [formControl]="filterControl"
          [(ngModel)]="favFilter">
      </mat-form-field>
    </div>
    <ng-container *cdkVirtualFor="let property of filteredFavorites">
      <app-property-card [property]="property" [favs]="true"></app-property-card>
    </ng-container>
  </cdk-virtual-scroll-viewport>


</div>





<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-button class="date"> </button>
</div>