<div (swipe)="onSwipe($event)">
 
  <mat-card-title>
  How this works ...
  </mat-card-title>

  <mat-card-content>
    <br>
    <br>
    <ol>
      <div fxLayout="row" fxLayoutAlign="center center">

      <span class="material-icons">
        home
        </span>
      </div>
      <li> For home sales, we'll show you sales from the past one year on the part of the street you are on.</li> <br><br>
      <div fxLayout="row" fxLayoutAlign="center center">
      <span class="material-icons">
        apartment
        </span>
      </div>
        
      <li> For condo sales, we'll show you last few sales at a selected address near you. You can adjust the street number to choose a different building.</li><br><br>
      <div fxLayout="row" fxLayoutAlign="center center">
        <span class="material-icons">
        explore
        </span>
        </div>
      <li> We'll also show you all available listings in a few blocks radius around you.</li>
      </ol>
    <br><br><br>

    When you want to see any house, or want to get more information -  <a href="mailto:jina@hellomyhouse.com">send us </a> a message or give us <a href="tel:+01-416-270-2726">a call</a>!




  </mat-card-content>
</div>
  
