<mat-card (swipe)="onSwipe($event)">
 
  <mat-card-title>
  How this works ...
  </mat-card-title>

  <mat-card-content>
    <br>
    <br>
    
	
    Discover current listings, anywhere you are. With one tap on the screen. <br>
    
    <br>
    
    Ever see a 'SOLD' sign while walking by, wondering how much the house sold for? We'll show you the most recent sale at an address around you, from the past one year. <br> <br>


    We'll also show you all the current listings 'nearby'. This is typically one to two city blocks, so you can easily get there to check it out. <br><br>

   
    And you can give us a call or send a text if you want to visit any house, anytime! 



  </mat-card-content>
</mat-card>
  
