<div (swipe)="onSwipe($event)">
<div fxLayout="row" fxLayoutAlign="space-around center" style="background-color: #bf1e2d; color:white">
    {{client.dataKey.name}}
</div>
<br><br>


<form (ngSubmit)='update()' class="client-form"  [formGroup]="clientDetailsForm">

  <mat-form-field class="full-width">
    <input matInput placeholder="full name" name='name' formControlName='name'>
  </mat-form-field>
  
  <mat-form-field class="full-width">
      <input matInput placeholder="first name" name='phone' formControlName='firstName'>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="last name" name='phone' formControlName='lastName'>
    </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="email" name='email' formControlName='email'>
    <mat-error *ngIf="f.email.hasError('required')">
      {{"Email is required"|translate}}
    </mat-error>

  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="phone" name='phone' formControlName='phone'>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-around center" >
    <button mat-raised-button color="primary" type="submit"
      [disabled]="!clientDetailsForm.valid">{{"Update"|translate}}</button>
  </div>

</form>
<br>
<div fxLayout="row" fxLayoutAlign="space-around center" >
  <button color="warn" (click)='cancel()' mat-raised-button>{{"Cancel"|translate}}</button>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="space-around center" >
    Created: {{client.dataKey.created|date}}<br>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" >
   <!-- <small>{{client.dataKey.userId}}</small><br> -->
</div>

</div>

