<div>
  <mat-card>


 

    <mat-card-content>



      <div class="carousel">

        <agm-map #map [latitude]="lat" [longitude]="lon" [zoom]="zoom" (idle)="mapIdle($event)" [styles]="mapStyle">

          <app-content (onMapReady)="mapReady($event)"></app-content>

            <agm-marker *ngFor="let trail of traces" [latitude]="trail.latitude" [longitude]="trail.longitude" [openInfoWindow]="true"
              [iconUrl]="'/assets/pin.png'"
              (markerClick)="takeMeThere(trail)">
            </agm-marker>
  

        </agm-map>
      
      </div>
    </mat-card-content>


    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>