.sebm-google-map-container {
    height: 80vh;
  }
  
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  .sebm-google-map-container {
    height: 550px;
  }
}
.mat-form-field {
  width: 300px;
}
input {
  font-size: 16px;
}