<div style="padding:5px"></div>
<!-- <div  *ngIf="showCalibration" fxLayout="row" fxLayoutAlign="center center">

  <mat-form-field class="example-form-field">
    <mat-label>Radius</mat-label>
    <input matInput type="text" [(ngModel)]="radius">
    <button mat-button *ngIf="radius" matSuffix mat-icon-button aria-label="Clear" (click)="radius=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="accuracy" fxLayout="row" fxLayoutAlign="center center">
    Accuraccy: {{accuracy|number}} meters
  </div>
</div> -->

<div class="scrollPane" style="-webkit-user-select: none; ">
<div fxLayout="row" fxLayoutAlign="center center" (click)="calibration()">
  <br>
  Tap to explore nearby sales and listings


</div>


<br>

<div  fxLayout="row" fxLayoutAlign="center center">
      <img [src]="'assets/listingsnearby.png'"  (click)="findNearby()"  style="width: 250px; height: 250px;"
      [@balloonEffectTrigger]="currentState" (@balloonEffectTrigger.done)="onEnd($event)" >
</div>
<div fxLayout="row" fxLayoutAlign="end center" style="padding-right: 10px;"> 

  <a href="/trails" >
    <button mat-mini-fab style="background-color:#205aa0; color:white" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </a>

</div>
<div class="example-container" *ngIf="address.shortAddress && streetNumber" fxLayout="row"
  fxLayoutAlign="center center" style="padding-left: 10px; padding-right:10px">
  <mat-form-field style="font-size: 1.3em;">
    <mat-select [(value)]="streetNumber" (selectionChange)="streetNumberChange($event)">
      <mat-option *ngFor="let number of streetNumberRange" [value]="number">
        {{number}}
      </mat-option>
    </mat-select>
    <mat-hint align="end" style="font-size:0.4em">
      for condos sales
    </mat-hint>
  </mat-form-field>


  <mat-form-field style="font-size: 1.5em; width: 65%;">
    <mat-select [(value)]="selectedStreet" (selectionChange)="selectedStreetChange($event)">
      <mat-option *ngFor="let street of streets" [value]="street">
        {{street.street}}
      </mat-option>
    </mat-select>
    <mat-hint align="end" style="font-size:0.8em">
    Street #{{streetNumberRange[0]}} - {{streetNumberRange[streetNumberRange.length-1]}}
    </mat-hint>
  </mat-form-field>


</div>



<!-- <div fxLayout="row" fxLayoutAlign="center center">
  <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon" (click)="setMinZoom()">
    here
  </button>
  <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="2" [(ngModel)]="zoomLevel"
    (change)="zoomChange()"></mat-slider>
  <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon" (click)="setMaxZoom()">
    near
  </button>

</div> -->

<div *ngIf="hasResults" fxLayout="row" fxLayoutAlign="space-between  center"  style="padding-left: 10px;">
 {{salesCount}} recent sale(s) here  <span class="material-icons" style="color:dimgray" (click)="showHow()">
    help
  </span>
</div>
<br>

<div class="sales-viewport">
  <ng-container *ngFor="let property of sales" class="card">

    <div *ngIf="property[0]">
      <div *ngIf="property[0].sp_dol">
        <img [src]="imageSold()" (error)="imageError($event)"
          [ngClass]="{'centered-and-cropped':property[0].star!='Y','centered-and-cropped-liked':property[0].star=='Y','centered-and-cropped-disliked':property[0].star=='D'}"
          width="110" height="110" (click)="showDetail(property[0])">
        <h6
          style="position:relative; bottom: 25px; text-align: center; color:white; background-color: rgba(42, 48, 48, 0.65)">
          {{property[0].sp_dol|shortCurrency}} <br>
          {{property[0].addr|shortText:15}}
        </h6>
      </div>
    </div>

    <div  *ngIf="property[1]">

      <div *ngIf="property[1].sp_dol">
        <img [src]="imageSold()" (error)="imageError($event)"
          [ngClass]="{'centered-and-cropped':property[1].star!='Y','centered-and-cropped-liked':property[1].star=='Y','centered-and-cropped-disliked':property[1].star=='D'}"
          width="110" height="110" (click)="showDetail(property[1])">
        <h6
          style="position:relative; bottom: 25px; text-align: center; color:white; background-color: rgba(42, 48, 48, 0.65)">
          {{property[1].sp_dol|shortCurrency}} <br>
          {{property[1].addr|shortText:15}}
        </h6>
      </div>


    </div>
    <div  *ngIf="property[2]">

      <div *ngIf="property[2].sp_dol">
        <img [src]="imageSold()" (error)="imageError($event)"
          [ngClass]="{'centered-and-cropped':property[2].star!='Y','centered-and-cropped-liked':property[2].star=='Y','centered-and-cropped-disliked':property[2].star=='D'}"
          width="110" height="110" (click)="showDetail(property[2])">
        <h6
          style="position:relative; bottom: 25px; text-align: center; color:white; background-color: rgba(42, 48, 48, 0.65)">
          {{property[2].sp_dol|shortCurrency}} <br>
          {{property[2].addr|shortText:15}}
        </h6>
      </div>


    </div>





  </ng-container>
</div>
<div *ngIf="hasResults" fxLayout="row" fxLayoutAlign="space-between center" style="padding-left: 10px;">
   {{nearbyCount}} avaiable listing(s) {{where}} 
</div>
<cdk-virtual-scroll-viewport class="example-viewport" [itemSize]="itemsSize">
  <ng-container *cdkVirtualFor="let property of properties" class="card">
    

      <div class="inlineDiv" *ngIf="property[0]">

        <div *ngIf="property[0].sp_dol">
          <img [src]="imageSold()" (error)="imageError($event)"
            [ngClass]="{'centered-and-cropped':property[0].star!='Y','centered-and-cropped-liked':property[0].star=='Y','centered-and-cropped-disliked':property[0].star=='D'}"
            width="110" height="110" (click)="showDetail(property[0])">
          <h6
            style="position:relative; bottom: 25px; text-align: center; color:white; background-color: rgba(42, 48, 48, 0.65)">
            {{property[0].sp_dol|shortCurrency}} <br>
            {{property[0].addr|shortText:15}}
          </h6>
        </div>
        <div *ngIf="!property[0].sp_dol">
          <img [src]="getPropertyIcon(property[0])" (error)="imageError($event)"
            [ngClass]="{'centered-and-cropped':property[0].star!='Y','centered-and-cropped-liked':property[0].star=='Y','centered-and-cropped-disliked':property[0].star=='D'}"
            width="110" height="110" (click)="showDetail(property[0])">
          <h6
            style="position:relative; bottom: 25px; text-align: center; color:white; background-color: rgba(42, 48, 48, 0.65)">
            {{property[0].lp_dol|shortCurrency}} <br>
            {{property[0].addr|shortText:15}}
          </h6>
        </div>


      </div>
      <div class="inlineDiv" *ngIf="property[1]">

        <div *ngIf="property[1].sp_dol">
          <img [src]="imageSold()" (error)="imageError($event)"
            [ngClass]="{'centered-and-cropped':property[1].star!='Y','centered-and-cropped-liked':property[1].star=='Y','centered-and-cropped-disliked':property[1].star=='D'}"
            width="110" height="110" (click)="showDetail(property[1])">
          <h6
            style="position:relative; bottom: 25px; text-align: center; color:white; background-color: rgba(42, 48, 48, 0.65)">
            {{property[1].sp_dol|shortCurrency}} <br>
            {{property[1].addr|shortText:15}}
          </h6>
        </div>
        <div *ngIf="!property[1].sp_dol">
          <img [src]="getPropertyIcon(property[1])" (error)="imageError($event)"
            [ngClass]="{'centered-and-cropped':property[1].star!='Y','centered-and-cropped-liked':property[1].star=='Y','centered-and-cropped-disliked':property[1].star=='D'}"
            width="110" height="110" (click)="showDetail(property[1])">
          <h6
            style="position:relative; bottom: 25px; text-align: center; color:white; background-color: rgba(42, 48, 48, 0.65)">
            {{property[1].lp_dol|shortCurrency}} <br>
            {{property[1].addr|shortText:15}}
          </h6>
        </div>

      </div>
      <div class="inlineDiv" *ngIf="property[2]">

        <div *ngIf="property[2].sp_dol">
          <img [src]="imageSold()" (error)="imageError($event)"
            [ngClass]="{'centered-and-cropped':property[2].star!='Y','centered-and-cropped-liked':property[2].star=='Y','centered-and-cropped-disliked':property[2].star=='D'}"
            width="110" height="110" (click)="showDetail(property[2])">
          <h6
            style="position:relative; bottom: 25px; text-align: center; color:white; background-color: rgba(42, 48, 48, 0.65)">
            {{property[2].sp_dol|shortCurrency}} <br>
            {{property[2].addr|shortText:15}}
          </h6>
        </div>
        <div *ngIf="!property[2].sp_dol">
          <img [src]="getPropertyIcon(property[2])" (error)="imageError($event)"
            [ngClass]="{'centered-and-cropped':property[2].star!='Y','centered-and-cropped-liked':property[2].star=='Y','centered-and-cropped-disliked':property[2].star=='D'}"
            width="110" height="110" (click)="showDetail(property[2])">
          <h6
            style="position:relative; bottom: 25px; text-align: center; color:white; background-color: rgba(42, 48, 48, 0.65)">
            {{property[2].lp_dol|shortCurrency}} <br>
            {{property[2].addr|shortText:15}}
          </h6>
        </div>

      </div>

    



  </ng-container>
</cdk-virtual-scroll-viewport>


