.button-container {
    display: flex;
    justify-content: center;
    width: 200px;
  
  }

  .example-viewport{

    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 80vh;
}
.sales-viewport{

  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
 
 
}
.opacity1{
  opacity:1;
}
.opacity2{
  opacity:0.7;
}
.opacity3{
  opacity:0.4;
}




.inlineDiv{
    padding: 2px; 
    width: 31%; 
    display: inline-block;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(2) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.centered-and-cropped { object-fit: cover }
.centered-and-cropped-liked {
    object-fit: cover;
    /* border-color: #bf1e2d; 
    border-style: dotted; */

}
.centered-and-cropped-disliked {
    object-fit: cover;
   
    border-style: dotted;
    filter: blur(2px);
}

img {
  width: 100%;
  /* padding-left: 5px; */
  
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
mat-form-field {
  width: 25%;
  
}
.material-icons-new {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-white {
  webkit-filter: contrast(4) invert(1);
  -moz-filter: contrast(4) invert(1);
  -o-filter: contrast(4) invert(1);
  -ms-filter: contrast(4) invert(1);
  filter: contrast(4) invert(1);
}