<mat-card>
    <mat-card-title>Click comparison</mat-card-title>


    <p>Clients, who clicked on listings.</p>

    <span style="font-size: 0.8em;"> <span class="material-icons" style="font-size: 0.8em; color: grey;">
            info
        </span> ...</span>

    <br><br>

    <b>In the current {{checkingStats.days}} days:</b><br>
    <p style="padding:5px">Clients: <span style='font-size:1.2em'>{{checkingStats.clicksNow}}</span></p>
    <p style="padding:5px">Listings clicked: <span style='font-size:1.2em'>{{checkingStats.clientsNow}}</span></p>

    <br>
    <br>
    <b>In the previous {{checkingStats.days}} days:</b><br>

    <p style="padding:5px">Clients: <span style='font-size:1.2em'>{{checkingStats.clicksBefore}}</span></p>
    <p style="padding:5px">Listings clicked: <span style='font-size:1.2em'>{{checkingStats.clientsBefore}}</span></p>

    <br>
    <br>

    <b>Trend in the last two {{checkingStats.days}} days periods :</b><br>

    <span style="padding:5px;">Clients trend: <span *ngIf="checkingStats.clientsGo==1" class="material-icons"
            style='font-size:1.4em'>
            trending_up
        </span>
        <span *ngIf="checkingStats.clientsGo==-1" class="material-icons" style='font-size:1.4em'>
            trending_down
        </span>
        <span *ngIf="checkingStats.clientsGo==0" class="material-icons" style='font-size:1.4em'>
            trending_flat
        </span>
    </span>
    <br>
    <span style="padding:5px;">
        Listings trend: <span *ngIf="checkingStats.clicksGo==1" class="material-icons" style='font-size:1.4em'>
            trending_up
        </span>
        <span *ngIf="checkingStats.clicksGo==-1" class="material-icons" style='font-size:1.4em'>
            trending_down
        </span>
        <span *ngIf="checkingStats.clicksGo==0" class="material-icons" style='font-size:1.4em'>
            trending_flat
        </span>
        <br><span style="font-size: 0.8em;"> <span class="material-icons" style="font-size: 0.8em; color: grey;">
                info
            </span> This might be an indicator of your marketing effectivness in the given period.</span>
    </span>

    <img src="/assets/compare_periods.png" width="100%"/><br>

</mat-card>