.mat-column-select {
    flex: 0 0 10% !important;
  

}
.mat-column-date {
    flex: 0 0 10% !important;
   

}
.mat-column-title {
    flex: 0 0 20% !important;
   

}
.mat-column-message {
    flex: 0 0 30% !important;
   

}
.mat-column-outcome {
    flex: 0 0 10% !important;
   

}
.mat-column-comment {
    flex: 0 0 20% !important;
   

}
.mat-column-id {
    flex: 0 0 10% !important;
   

}
.mat-column-recurrenceTitle {
    flex: 0 0 10% !important;
}





table {
    width: 100%;
}