<h4>
  {{data.title}}
</h4>
<br>
<p>
  {{data.textAbove}}
</p>
<br>
<div class="row">
  <div *ngIf="data.imgUrl1" class="column">
    <h5 style="text-align: center">{{data.imgLegend1}}</h5>
    <img id="image" [src]="data.imgUrl1" width="80%">
  </div>
  <div div *ngIf="data.imgUrl2" class="column">

    <div id="container">
        <h5 style="text-align: center">{{data.imgLegend2}}</h5>
      <img id="image" [src]="data.imgUrl2" width="80%">

    </div>
  </div>
</div>

<br>
<p>
  {{data.textBelow}}
</p>
<br>
<h4>
  {{data.callToAction}}
</h4>