<mat-card>
  <mat-card-title>
    Manage Social/Ad Channels
 </mat-card-title> 
  

<br>

<table mat-table class="social-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="seqNo"
  matSortDirection="asc" matSortDisableClear>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Network</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let channel">
      {{channel.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="accessId">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell  class="duration-cell" *matCellDef="let network">
      {{network.accessId}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="accessPassword">
    <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
    <mat-cell  class="duration-cell"  *matCellDef="let network">
      {{network.accessPassword}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef>Comment</mat-header-cell>
    <mat-cell  class="duration-cell" *matCellDef="let network">
      {{network.comment}}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</table>

<mat-paginator [length]="dataSource.channelsCount" [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" #channelsPaginator ></mat-paginator>

</mat-card>

<br><br>
<mat-card>
 <mat-card-title>
New Social/Ad Chanel
</mat-card-title> 
<br>
<mat-card-content>

<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

  <form (ngSubmit)='connect()' [formGroup]="connectSocialForm">

 
  <mat-form-field class="third">
    <mat-label>Channel</mat-label>
    <mat-select>
      <mat-option *ngFor="let network of networks" [value]="network.value">
        {{network.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="third">
    <input matInput placeholder="user name" name='user' formControlName='user'>
    <mat-hint align="end">Your social account user name ^</mat-hint>
  </mat-form-field>

  <mat-form-field class="third">
    <input type='password' matInput placeholder="password" name='password' formControlName='password'>
    <mat-hint align="end">Your social account password^</mat-hint>

  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="comment" name='comment' formControlName='comment'>
    <mat-hint align="end">Any comment^</mat-hint>

  </mat-form-field>

  <button mat-raised-button color="primary" type="submit"
      [disabled]="!connectSocialForm.valid">{{"Connect"|translate}}</button>

  </form>
</div>
</mat-card-content>
</mat-card>