<br>
<br>
<div>
  <form (ngSubmit)="reset()" [formGroup]="resetForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" name="email" id="email" formControlName="email">
      <mat-error *ngIf="emailFormControl.hasError('required')">
        {{"Email is required"|translate}}
      </mat-error>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!resetForm.valid">{{"Reset"|translate}}</button>
    <br>
    <div *ngIf="showOK">{{"Please check your email for password reset instructions."|translate}}</div>
    <div *ngIf="showOh">{{"Couldn't find a user with this email."|translate}} <br>{{"Please try again."|translate}}</div>

  </form>
</div>