<mat-card>
    <mat-card-title>How does this work?</mat-card-title>
    <mat-card-content>
    <br><br>
       <p>You can specify additional keywords that will be added to your search. </p> <br><br>
       <p>For example, you can search only for houses that contain the word 'pool' in the listing description. </p><br><br>
       <p>All of your other search settings such as location, price or bedrooms will still be applied.</p> <br><br>
       <p>Keywords are additive, so adding more keywords will further narrow down your search.</p> <br><br>
       <p>Partial keyword match - if your keyword matches a begining of a longer word, it will be applied. </p><br><br>
       <p>Keywords are not cases sensitive.</p>
       <br><br>
    </mat-card-content>
</mat-card>