<mat-card id='sold'>
    <div fxLayout="row" fxLayoutAlign="space-between center" (click)="showDetails()">
        Sold:
        <span class="material-icons" style="color:gold; font-size: 1em; padding-left: 5px;" (click)="showDetails()">
            tips_and_updates
        </span>
    </div>

    <div  *ngIf="clients"  fxLayout="row" fxLayoutAlign="space-between center" style="padding-top:5px; padding-bottom: 5px;"
        (click)="showDetails()">
        <span class="material-icons">
            maps_home_work
        </span> {{clients}}
        <span *ngIf="clientsGo==1" class="material-icons">
            trending_up
        </span>
        <span *ngIf="clientsGo==-1" class="material-icons">
            trending_down
        </span>
        <span *ngIf="clientsGo==0" class="material-icons">
            trending_flat
        </span>
    </div>

    <div *ngIf="!clients" fxLayout="row" fxLayoutAlign="space-between center"
        style="padding-top:5px; padding-bottom: 5px;">
        <span class="material-icons">
            person
        </span> <span>...</span><span>...</span>
    </div>
    <ngx-spinner name="soldSpinner" [fullScreen]="false" type="ball-spin-clockwise" size="medium"></ngx-spinner>

    <div *ngIf="clients"  fxLayout="row" fxLayoutAlign="space-between center" style="padding-top:5px; padding-bottom: 5px;"
        (click)="showDetails()">
        <span class="material-icons">
            person
        </span> {{sales}}
        <span *ngIf="salesGo==1" class="material-icons">
            trending_up
        </span>
        <span *ngIf="salesGo==-1" class="material-icons">
            trending_down
        </span>
        <span *ngIf="salesGo==0" class="material-icons">
            trending_flat
        </span>
    </div>
    <div *ngIf="!clients" fxLayout="row" fxLayoutAlign="space-between center"
        style="padding-top:5px; padding-bottom: 5px;">
        <span class="material-icons">
            person
        </span> <span>...</span><span>...</span>
    </div>



    <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 5px;"> <button mat-raised-button
            color="primary" (click)='setActivity()' [disabled]="!clients">View Clients</button>
    </div>
</mat-card>